.ez-scrollable-table-wrapper {
    overflow-x: auto;
    margin-bottom: calculateRem(48px);

    table {
        margin-bottom: 0;
    }
}

.ez-small-container {
    th.optional,
    td.optional {
        display: none;
    }
}
